@import "tailwindcss";

body {
  background: #050505;
  font-family: var(--font-inter), system-ui, sans-serif;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}
